body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 30px;
    width: 30px;
}

/* header */
.header {
    grid-area: header;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 40px;
}

.header div {
    padding-right: 40px;
}

.header .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seach {
    display: flex;
    align-items: center;
    width: 70%;
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-info img {
    padding: 0 20px;
}

.profile-info :nth-child(2) {
    height: 40px;
    width: 40px;
}

.header .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 0;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

button {
    border-radius: 30px;
    height: 40px;
    width: 90px;
    color: white;
    background-color: lightblue;
    border: 1px solid lightblue;
}

.profile {
    display: flex;
    align-items: center;
    height: 100px;
}

.profile img {
    height: 80px;
    width: 80px;
}

.username {
    padding-left: 20px;
    width: 70%;
}

.username p{
    margin: 0;
    padding: 0;
}

.user {
    font-size: 1.7rem
}

input {
    border-radius: 30px;
    border: none;
    background-color: gray;
    padding-left: 10px;
    width: 50%;
    height: 25px;
}

/* sidebar */
.sidebar {
    grid-area: sidebar;
    background-color: lightblue;
    color: white;
}

.sidebar-title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.sidebar-title img {
    height: 50px;
    width: 50px;
    padding-left: 25px;
}

.nav {
    font-size: 1.5rem;
    font-weight: 600px;
    display: grid;
    gap: 20px;
    padding-bottom: 50px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav img {
    height: 30px;
    width: 30px;
}

/* content */
.content {
    grid-area: content;
}